

#app {
  background-color: var(--bg);
  transition: background-color var(--transition-slow);
}

/* ===== POST ITEM ===== */
.card {
  background-color: var(--bg);
  transition: background-color var(--transition-slow);
}

.post {
  padding: 12px;
  border-radius: 12px;
  background-color: var(--bg);
  border: 1px solid var(--border);
  box-shadow: 0 2px 6px var(--shadow);
  transition: transform var(--transition-slow), box-shadow var(--transition-slow), background-color var(--transition-slow);
}

.post:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px var(--shadow);
  z-index: 25;
}

/* ===== TITLE ===== */
.post-title {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: 600;
  background: none;
  color: var(--text);
  text-decoration: none;
}

/*
.post > a {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: 600;
  background: none;
  color: var(--primary);
  text-decoration: none;
}
*/

/* background-color: var(--bg); */
.post-title:hover {
  text-decoration: underline;
}

/* ===== META ===== */

.post-meta {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  background: none;
  color: var(--muted);
  margin-bottom: 6px;
}

.post-avatar {
  background-color: var(--bg);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--border);
  transition: background-color var(--transform-slow);
}

/* ===== CATEGORY ===== */

.post-category {
  background: none;
  font-size: 12px;
  color: var(--muted);
  margin-bottom: 4px;
}

.post-category span {
  background: none;
  cursor: pointer;
  color: var(--primary);
}

/* ===== TAGS ===== */

.post-tags {
  background: none;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  font-size: 12px;
  margin-bottom: 6px;
}

.post-tags-label {
  background: none;
  color: var(--muted);
}

.post-tag {
  background: none;
  cursor: pointer;
  color: var(--primary);
}

/* ===== FLAG ===== */

.post-flagged {
  font-size: 11px;
  color: var(--error);
  margin-top: 4px;
}

/* ===== CONTENT ===== */

.post-excerpt {
  margin-top: 8px;
  white-space: pre-wrap;
  color: var(--text);
  line-height: var(--line-height);
  background: none;
}

/* ===== IMAGES ===== */

.post-images {
  margin-top: 8px;
  display: flex;
  gap: 6px;
}

.post-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid var(--border);
}

/* ===== ACTIONS ===== */

.post-actions {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}


/* nav style 
.nav {
  height: 52px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  background-color: var(--bg);
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 6px var(--shadow);
  transition: background-color var(--transform-slow);
}
*/